repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-merge-conflict

    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v9.15.0
      hooks:
          - id: eslint
            files: \.[jt]sx?$
            types: [file]
            additional_dependencies:
                - eslint@9.15.0

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.1.0
      hooks:
          - id: prettier
            types_or: [javascript, jsx, ts, tsx, json, yaml]
