body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.container {
    text-align: center;
    width: 500px;
}

.icon {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

form h2 {
    margin: 10px 0;
}

form label {
    display: block;
    text-align: left;
    margin: 10px 15px 5px;
}

form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #2e2e2e;
    color: white;
}

form button {
    width: 30%;
    padding: 10px;
    background-color: #4b7e96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: rgb(122, 186, 216);
}

.popup {
    display: none;
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 50%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

#close-popup {
    color: white;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

#close-popup:hover {
    color: #ff0000;
}
